.git
.github
.idea
.vscode
.env
.env.*
!.env.example
.npmrc
auth.json
node_modules
vendor
bootstrap/cache/*
public/build
public/hot
public/storage
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
tests
docker-compose*.yml
npm-debug.log
.DS_Store
